@model Registration

    <p>Movie ID: @Model.ID</p>
    <p>Movie Title: @Model.Title</p>
    <p>Genre: @Model.Genre</p>
    <p>Release Year: @Model.Year</p>    
    <p>Actors: @Model.Actors</p>    
    <p>Directors: @Model.Directors</p>

    <p style="font-weight:bold">@Model.Title has been registered</p>